:root {
    --palette1: #8BBCCC;
    --palette2: #4C6793;
    --palette3: #5C2E7E;
    --palette4: #000000;
}

/* font pulled from https://fonts.google.com/specimen/Unbounded */
@font-face {
    font-family: 'unbounded';
    src: url(./Unbounded-VariableFont_wght.ttf);
}

body {
    background-color: var(--palette1);
    font-family: 'unbounded', serif;

}

div#inputContents {
    justify-content: center;
    align-content: center;
    
    display: grid;
    place-items: left;
    grid-template-columns:15% 85%;
    grid-template-rows: auto auto 75px auto;
}

canvas#displayCanvas {
    border: 1px solid black;
    grid-column: 2;
    grid-row: 1;
}

input#imageUpload {
    grid-column: 2;
    grid-row: 2;
}

form#options {
    grid-column: 2;
    grid-row: 4;
}

/* ---------- divider ---------- */
hr {
    border-top: 3px solid #ffffff;
}
/* ---------- divider ---------- */

h1#outputTitle {
    grid-column: 2;
    grid-row: 1;
}

div#outputContents {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto 25px auto auto;
    visibility: hidden;
}

canvas#outputCanvas {
    border: 1px solid black;
    grid-column: 2;
    grid-row: 3;
}

input#download {
    grid-column: 2;
    grid-row: 4;
    width: fit-content;
}

/* ---------- general ---------- */

input.button {
    background-color: var(--palette2);
    border-width: 0px;
    border-radius: 5px;
}

input.button:hover {
    transition: .5s;
    scale: 1.15;
    background-color: var(--palette3);
}