body {
    background-color: #b1b1b1;
}

div#inputContents {
    justify-content: center;
    align-content: center;
    
    display: grid;
    place-items: left;
    grid-template-columns:15% 85%;
    grid-template-rows: auto auto 75px auto;
}

canvas#displayCanvas {
    border: 1px solid black;
    grid-column: 2;
    grid-row: 1;
}

input#imageUpload {
    grid-column: 2;
    grid-row: 2;
}

form#options {
    grid-column: 2;
    grid-row: 4;
}

/* ---------- divider ---------- */
hr {
    border-top: 3px solid #ffffff;
}
/* ---------- divider ---------- */

h1#outputTitle {
    grid-column: 2;
    grid-row: 1;
}

div#outputContents {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto 25px auto;
    visibility: hidden;
}

canvas#outputCanvas {
    border: 1px solid black;
    grid-column: 2;
    grid-row: 3;
}

